.homepage,
.greenline {
  height: 0.14vw;
  background-color: #1b812c;
  border: none;
}

ul {
  list-style-type: none;
}
li {
  display: inline-flex;
  font-family: "Circular Std", sans-serif;
  font-size: 4vh;
}
.homepage,
.p {
  width: 3vw;
  font-family: "Circular Std", sans-serif;
  font-size: 2vh;
}
