
.mgreenline {
    border-color:#1B812C;
    height: 0.12vh;
    background-color: #1B812C;
   margin-left: 1vw;
   margin-right:1vw;
       
}
.mavigation{
    justify-content: space-between;
    display: flex;
    margin-right: 1vw;
}


.mnavigation a{
    text-decoration: none;
    color: #1B812C;
    width:full;
    font-family: 'Circular Std', sans-serif;
    font-size:44px;
    margin-left: 1vw;
    
   
}

.mmaintext p{
    font-family: 'Circular Std', sans-serif;
    font-weight: 100;
    width: 24vw;
    height:150px;
    color: #1B812C;
    padding-top: -5vh;
    padding-left: 88vh;
    font-size: 20px;
    

}

.mworklist-heading{
    padding-top: 46vh;
   
   

}
.mworklist-heading a{
    text-decoration: none;
    color: #1B812C;
    font-family: 'Circular Std', sans-serif;
    font-size:36px;
    margin-left:1vw;

}

.mworklist-keywords {
    color: #1B812C;
    font-family: 'Circular Std', sans-serif;
    font-size:20px;
    font-weight: 80;
    padding-left: 88vh;
    margin-top: -18.4vh;
    line-height: 6vh;
    display: justify;
    
   
    
}



span:hover+img a{
    display:block;
}
.mworklist-heading a img {
    display:none;
    width: 46vw;
    height:66vh;
   
    top: 13.2%;
    left: 1.5%;
   
   
   
    }
.mworklist-heading a:hover img {
        display:block; 
     
        position: fixed;
     }

a{
        cursor: url("/Users/bhavya/Portfolio/ellipse.png"), url("/Users/bhavya/Portfolio/ellipse.png"), default;
    }
    

  